<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.pals.android.lib.ui.filechooser"
    android:versionCode="24"
    android:versionName="4.0 - Tablet" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="13" />

    <application android:label="@string/app_name" >
        <activity
            android:name=".filechooser.FileChooserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.LocalFileProvider" >
            <intent-filter>
                <action android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider.60cf767c.6fe6.41ad.90ce.e94657bde773" />
            </intent-filter>
        </service>
    </application>

</manifest>