<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.pals.android.lib.ui.filechooser"
    android:versionCode="28"
    android:versionName="4.3 beta" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <application android:label="@string/afc_app_name" />

</manifest>